body {
  background-color: rgb(157, 191, 255);
  font-family: 'Ubuntu', sans-serif;
}

.index-title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgba(46, 124, 234, 0.881);
}


.btn-primary {
  height: 10vh;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 8px;
  border: none;
  border-right: 0.25vh solid rgba(0, 0, 0, 0.8);
  border-bottom: 0.5vh solid rgba(0, 0, 0, 0.8);
  justify-content: center;
  color:rgba(0, 0, 0, 0.8);
  background-color: white;
  margin: 0 auto;
}

.pokemon-button {
  text-transform: capitalize;
  background-color: rgba(46, 124, 234, 0.881);
  border: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  margin: 0 auto;
}

.list-group-item {
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-transform: capitalize;
  font-family: 'Ubuntu', sans-serif;
}




.modal-content {
  color:rgba(244, 247, 250, 0.881);
  background-color: rgba(46, 124, 234, 0.881);
  text-align: center;
}

.modal-header {
  text-align: center;
}

.modal-title {
  text-align: center;
}

.modal-footer{
  text-align: center;
}


.navbar{
  font-family: 'Ubuntu', sans-serif;
}

.btn-primary:hover {
  background-color: salmon;
}

h1{
  font-weight: bold;
}

.pokemon-list{
  padding: 1rem;
  justify-content: center;
}

li.pokemon-button{
  background-color: inherit;
}

.btn-primary{
  box-shadow: 0px 1.6px salmon;
}

.index-title {
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 300;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;
  text-shadow: salmon 1px 0 10px;
}

.index-title:hover {
  font-variation-settings: "wght" 562; 
  letter-spacing: 1px;
}

.modal-title {
  margin: 0 auto;
  text-indent: 70px;
}

.modal-body li{
  list-style-type: none;
  display:inline-block;
  padding-left: 5px;
  text-transform: capitalize;
}

.modal-footer{
  width: 100%;
}

.modal-footer button{
  margin: 0 auto;
}


@media all and (max-width: 420px) {
  h1 {
    text-align: center;
    font-size: 27px;
  }
}

@media all and (max-width: 260px) {
  .btn-primary {
    justify-content: center;
    font-size: 1.5vh;
    height: 7vh;
  }

  h1 {
    text-align: center;
    font-size: 70px;
    text-size-adjust: 20%;
  }

  p {
    font-size: 30px;
  }
}

.btn-outline-success{
  background-color: salmon;
  color: white;
  outline:darkblue;
  margin-left: 300px;
  border: none;
}

.form-control{
  font-style: italic;
}

